<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RuntimeWorkingDirectory" value="..\run\eltsnap_runtime_v2.exe"/> <!-- The location of the ELTSnap Runtime application: -->
    <add key="SubscriptionKey" value="E79E1676-E8F0-4BBC-B74F-04141BE639DF"/> <!-- The subscription key of the user: -->
    <add key="TaskSchedulerFolderName" value="runsnap"/> <!-- Folder name where Task Scheduler events will be created -->
  </appSettings>
  <connectionStrings>
    <add name="ELTSnapConnection" connectionString="Data Source=PC7;Initial Catalog=eltsnap_v2;Trusted_Connection=True;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
