<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RuntimeWorkingDirectory" value="..\run\eltsnap_runtime_v2.exe" />
    <add key="SubscriptionKey" value="D2BDACC2-E242-4B8E-B1CF-2D1E47EEA907" />
    <add key="TaskSchedulerFolderName" value="runsnap" />
  </appSettings>
  <connectionStrings>
    <add name="ELTSnapConnection" connectionString="Data Source=localhost;Initial Catalog=eltsnap_v2;Trusted_Connection=True;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
