<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RuntimeWorkingDirectory" value="..\run\eltsnap_runtime_v2.exe" />
    <add key="SubscriptionKey" value="E79E1676-E8F0-4BBC-B74F-04141BE639DF" />
    <add key="TaskSchedulerFolderName" value="runsnap" />
  </appSettings>
  <connectionStrings>
    <add name="ELTSnapConnection" connectionString="Data Source=localhost;Initial Catalog=eltsnap_v2;Trusted_Connection=True;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>